Focus/Connected Services/FocusService/ProcessesOperationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://FocusProcessesOperations" elementFormDefault="qualified" targetNamespace="http://FocusProcessesOperations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/FocusProcessesOperations/ProcessesOperationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="KillProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KillProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KillProcessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProcessToObservedProcessesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="allowedTime" type="q1:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProcessToObservedProcessesListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProcessFromObservedProcessesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProcessFromObservedProcessesListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>