Focus/Connected Services/FocusService/ProcessesOperationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://FocusProcessesOperations" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://FocusProcessesOperations" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://FocusProcessesOperations/Imports">
      <xsd:import schemaLocation="http://localhost:8000/FocusProcessesOperations/ProcessesOperationService?xsd=xsd0" namespace="http://FocusProcessesOperations" />
      <xsd:import schemaLocation="http://localhost:8000/FocusProcessesOperations/ProcessesOperationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/FocusProcessesOperations/ProcessesOperationService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FocusWcfService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProcessesOperationsService_KillProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:KillProcess" />
  </wsdl:message>
  <wsdl:message name="IProcessesOperationsService_KillProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:KillProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessesOperationsService_AddProcessToObservedProcessesList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProcessToObservedProcessesList" />
  </wsdl:message>
  <wsdl:message name="IProcessesOperationsService_AddProcessToObservedProcessesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProcessToObservedProcessesListResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessesOperationsService_RemoveProcessFromObservedProcessesList_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProcessFromObservedProcessesList" />
  </wsdl:message>
  <wsdl:message name="IProcessesOperationsService_RemoveProcessFromObservedProcessesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProcessFromObservedProcessesListResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessesOperationsService_GetAllWatchedProcesses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWatchedProcesses" />
  </wsdl:message>
  <wsdl:message name="IProcessesOperationsService_GetAllWatchedProcesses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWatchedProcessesResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessesOperationsService_UpdateProcessInObservedProcessesList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProcessInObservedProcessesList" />
  </wsdl:message>
  <wsdl:message name="IProcessesOperationsService_UpdateProcessInObservedProcessesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProcessInObservedProcessesListResponse" />
  </wsdl:message>
  <wsdl:portType name="IProcessesOperationsService">
    <wsdl:operation name="KillProcess">
      <wsdl:input wsaw:Action="http://FocusProcessesOperations/IProcessesOperationsService/KillProcess" message="tns:IProcessesOperationsService_KillProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://FocusProcessesOperations/IProcessesOperationsService/KillProcessResponse" message="tns:IProcessesOperationsService_KillProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProcessToObservedProcessesList">
      <wsdl:input wsaw:Action="http://FocusProcessesOperations/IProcessesOperationsService/AddProcessToObservedProcessesList" message="tns:IProcessesOperationsService_AddProcessToObservedProcessesList_InputMessage" />
      <wsdl:output wsaw:Action="http://FocusProcessesOperations/IProcessesOperationsService/AddProcessToObservedProcessesListResponse" message="tns:IProcessesOperationsService_AddProcessToObservedProcessesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveProcessFromObservedProcessesList">
      <wsdl:input wsaw:Action="http://FocusProcessesOperations/IProcessesOperationsService/RemoveProcessFromObservedProcessesList" message="tns:IProcessesOperationsService_RemoveProcessFromObservedProcessesList_InputMessage" />
      <wsdl:output wsaw:Action="http://FocusProcessesOperations/IProcessesOperationsService/RemoveProcessFromObservedProcessesListResponse" message="tns:IProcessesOperationsService_RemoveProcessFromObservedProcessesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWatchedProcesses">
      <wsdl:input wsaw:Action="http://FocusProcessesOperations/IProcessesOperationsService/GetAllWatchedProcesses" message="tns:IProcessesOperationsService_GetAllWatchedProcesses_InputMessage" />
      <wsdl:output wsaw:Action="http://FocusProcessesOperations/IProcessesOperationsService/GetAllWatchedProcessesResponse" message="tns:IProcessesOperationsService_GetAllWatchedProcesses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProcessInObservedProcessesList">
      <wsdl:input wsaw:Action="http://FocusProcessesOperations/IProcessesOperationsService/UpdateProcessInObservedProcessesList" message="tns:IProcessesOperationsService_UpdateProcessInObservedProcessesList_InputMessage" />
      <wsdl:output wsaw:Action="http://FocusProcessesOperations/IProcessesOperationsService/UpdateProcessInObservedProcessesListResponse" message="tns:IProcessesOperationsService_UpdateProcessInObservedProcessesList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>