Focus/Connected Services/FocusLocalizationsService/ProcessesOperationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FocusWcfService.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FocusWcfService.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/FocusProcessesOperations/ProcessesOperationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfWatchedProcessDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WatchedProcessDto" nillable="true" type="tns:WatchedProcessDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWatchedProcessDto" nillable="true" type="tns:ArrayOfWatchedProcessDto" />
  <xs:complexType name="WatchedProcessDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsCurrentlyRunning" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastWatchedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeAllowedPerDay" type="ser:duration" />
      <xs:element minOccurs="0" name="TimeLeft" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WatchedProcessDto" nillable="true" type="tns:WatchedProcessDto" />
</xs:schema>