Focus/Connected Services/FocusProcessesService/ProcessesOperationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://FocusLocationsOperations" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://FocusLocationsOperations" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://FocusLocationsOperations/Imports">
      <xsd:import schemaLocation="http://localhost:8000/FocusProcessesOperations/ProcessesOperationService?xsd=xsd3" namespace="http://FocusLocationsOperations" />
      <xsd:import schemaLocation="http://localhost:8000/FocusProcessesOperations/ProcessesOperationService?xsd=xsd0" namespace="http://FocusProcessesOperations" />
      <xsd:import schemaLocation="http://localhost:8000/FocusProcessesOperations/ProcessesOperationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/FocusProcessesOperations/ProcessesOperationService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FocusWcfService.Dtos" />
      <xsd:import schemaLocation="http://localhost:8000/FocusProcessesOperations/ProcessesOperationService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Focus.Core.LocationsHelpers" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILocationsOperationsService_AddLocationToObservedLocationsList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLocationToObservedLocationsList" />
  </wsdl:message>
  <wsdl:message name="ILocationsOperationsService_AddLocationToObservedLocationsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLocationToObservedLocationsListResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationsOperationsService_RemoveLocationFromObservedLocationsList_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveLocationFromObservedLocationsList" />
  </wsdl:message>
  <wsdl:message name="ILocationsOperationsService_RemoveLocationFromObservedLocationsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveLocationFromObservedLocationsListResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationsOperationsService_GetAllWatchedLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWatchedLocations" />
  </wsdl:message>
  <wsdl:message name="ILocationsOperationsService_GetAllWatchedLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWatchedLocationsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILocationsOperationsService">
    <wsdl:operation name="AddLocationToObservedLocationsList">
      <wsdl:input wsaw:Action="http://FocusLocationsOperations/ILocationsOperationsService/AddLocationToObservedLocationsList" message="tns:ILocationsOperationsService_AddLocationToObservedLocationsList_InputMessage" />
      <wsdl:output wsaw:Action="http://FocusLocationsOperations/ILocationsOperationsService/AddLocationToObservedLocationsListResponse" message="tns:ILocationsOperationsService_AddLocationToObservedLocationsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveLocationFromObservedLocationsList">
      <wsdl:input wsaw:Action="http://FocusLocationsOperations/ILocationsOperationsService/RemoveLocationFromObservedLocationsList" message="tns:ILocationsOperationsService_RemoveLocationFromObservedLocationsList_InputMessage" />
      <wsdl:output wsaw:Action="http://FocusLocationsOperations/ILocationsOperationsService/RemoveLocationFromObservedLocationsListResponse" message="tns:ILocationsOperationsService_RemoveLocationFromObservedLocationsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWatchedLocations">
      <wsdl:input wsaw:Action="http://FocusLocationsOperations/ILocationsOperationsService/GetAllWatchedLocations" message="tns:ILocationsOperationsService_GetAllWatchedLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://FocusLocationsOperations/ILocationsOperationsService/GetAllWatchedLocationsResponse" message="tns:ILocationsOperationsService_GetAllWatchedLocations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>